.header {
  background-color: var(--gray-1);
  margin-bottom: var(--spacing-m);
  padding: var(--spacing-m) 0;
}

.header_container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-m);
  justify-content: space-between;
}

.header_container_content {
  align-items: center;
  display: grid;
  gap: var(--spacing-xs);
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
}

.header_social_container {
  display: flex;
  gap: var(--spacing-s);
}

.header_action_container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-m);
  justify-content: flex-end;
}

.header_tab {
  margin: 0 10px;
  cursor: pointer;
}

a {
  align-self: center;
}
