/* The side navigation menu */
.sidenavbg {
  height: 100%; /* 100% Full-height */
  width: 100%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #0008; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #ebe7f5; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

.sidenav .link {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #333;
  display: block;
  cursor: pointer;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover,.sidenav .link:hover {
  color: #888;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 16px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  border: 1px solid var(--gray-3);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}
