.footer_module{
    align-items: center;
    display: flex;
    gap: var(--spacing-m);
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: var(--spacing-l);
    width: 100%;
}

footer_module_launcher{
    align-items: center;
    display: flex;
    gap: var(--spacing-m);
    justify-content: center;
    width: 100%;
}